<html>
<head>
<title>$title</title>
#parse('/layout/resources.vm')
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    #parse('/layout/header.vm')

    #parse('/layout/left.vm')

    <div class="layui-body">
        <!-- 内容主体区域 -->
        $screen_content
    </div>

    #parse('/layout/footer.vm')
</div>

##必须在最后添加layui.all.js
<script src="/layui/layui.all.js"></script>
</body>
</html>